* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #050505;
    color: #f0e7ec;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #1759aa 3px solid;
}

header a {
    color: #eb8585;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.hero {
    background: url('background.jpg') no-repeat center center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6cfcf;
    text-align: center;
    position: relative;
}

.profile {
    background: rgba(218, 94, 94, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #f594e0;
    margin-bottom: 10px;
}

.profile h2 {
    margin-top: 10px;
    font-size: 24px;
}

.profile p {
    font-size: 18px;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.skills-list, .education-list, .experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill, .education-item, .experience-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input,
form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #da5d5d;
    border-radius: 5px;
}

form button {
    width: 100px;
    align-self: flex-end;
    background: #77A1D3;
    color: #ffaaaa;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #a5c8f0;
}

#uploadedCertificates img {
    max-width: 200px;
    margin: 10px;
    border-radius: 5px;
}
